<div class="header">
  <div class="header__text" (click)="navigateToHomepage()">
    <span class="header__text--utb">UTB</span><span>cards</span>
  </div>
  <ul class="header__links">
    <li class="header__links__link" routerLink="/decks" routerLinkActive="active-link">Decks</li>
<!--    <li class="header__links__link" routerLink="/about" routerLinkActive="active-link">About</li>-->
    <li class="header__links__link" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true}">Homepage</li>
    <ng-container *ngIf="isLoggedIn; else isLoggedOut">
      <li class="header__links__link" routerLinkActive="active-link" (click)="onClickLogout()">Log Out</li>
    </ng-container>
    <ng-template #isLoggedOut>
      <li class="header__links__link" routerLink="/login" routerLinkActive="active-link">Log In</li>
    </ng-template>
  </ul>
</div>
