@use 'src/colors' as color;

.active-link {
  border-bottom: 1px solid color.$blue-light;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 0 1.2rem;
  width: 100%;
  min-height: 40px;
  height: 4rem;
  color: color.$white;
  background-color: color.$grey-900;
  font-size: 1.2rem;
  box-sizing: border-box;

  &__text {
    font-size: 1.6rem;
    cursor: pointer;

    &--utb {
      color: color.$blue-light;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    list-style-type: none;

    &__login {
      margin: 0 1rem;

      &:hover {
        color: color.$blue-light;
      }
    }

    &__link {
      padding: 0.3rem .6rem;

      &:nth-child(2) {
        margin: 0 1rem;
      }

      &:hover {
        color: color.$blue-light;
        cursor: pointer;
      }
    }
  }
}
