<div class="card">
  <div class="card__container" (click)="onCardClick()">
    <div class="card__controls">
    </div>
    <div class="card__title">
      <div class="card__title-container">
        <span class="card__title-text">{{title | truncate:10}}</span>
        <div class="card__title-line"></div>
      </div>
    </div>
    <ng-container *ngIf="!isEditing; else editing">
      <div class="card__text-fields">
        <p>{{cardText}}</p>
      </div>
    </ng-container>
    <ng-template #editing>
      <div class="card__editing">
        <button type="button" (click)="onEditClick(card)">Edit</button>
        <button type="button" (click)="onDeleteClick(card)">Delete</button>
      </div>
    </ng-template>
  </div>
  <span class="card__type-left">card</span>
  <span class="card__type-right">{{textType}}</span>
</div>
