<div class="login">
  <div class="login__title">
    <h1>Login</h1>
  </div>
  <div class="login__fields">
    <div class="login__fields__row">
      <app-label-input
        id="emailInput"
        label="Email"
        type="text"
        [(inputValue)]="userEmailValue"
        (inputValueChange)="onEmailInputChange($event)">
      </app-label-input>
    </div>
    <div class="login__fields__row">
      <app-label-input
        id="passwordInput"
        label="Password"
        type="password"
        [(inputValue)]="passwordValue"
        (inputValueChange)="onPasswordInputChange($event)">
      </app-label-input>
    </div>
  </div>
  <div class="login__buttons">
    <button (click)="redirectToRegister()">Register</button>
    <button (click)="login()">Login</button>
  </div>
</div>
