<div class="remove-card-modal">
  <div class="remove-card-modal__content">
    <h2 class="remove-card-modal__title">
      Remove Card
      <button class="remove-card-modal__close-btn fa fa-xmark" (click)="closeModal()"></button>
    </h2>
    <div class="remove-card-modal__hline"></div>
    <span class="remove-card-modal__text">Are you sure to permanently remove this card?</span>
    <div class="remove-card-modal__button-row">
      <button class="remove-card-modal__button remove-card-modal__button--create" (click)="removeCard()">Remove Card</button>
      <button class="remove-card-modal__button remove-card-modal__button--create" (click)="closeModal()">Cancel</button>
    </div>
  </div>
</div>
