<div class="deck-view">
  <div class="deck-view__modals">
    <app-new-card-modal *ngIf="newCardModalIsOpen$.value"></app-new-card-modal>
    <app-edit-card-modal *ngIf="editCardModalIsOpen$.value"></app-edit-card-modal>
    <app-delete-card-modal *ngIf="deleteCardModalIsOpen$.value"></app-delete-card-modal>
  </div>
  <div class="deck-view__left-container">
    <div class="deck-view__left-container__buttons">
      <div class="circle" [ngClass]="{'expanded': leftContainerIsExpanded}" (click)="toggleLeftContainer()">
        <ng-container *ngIf="!leftContainerIsExpanded">
          <i class="fa fa-plus"></i>
        </ng-container>
        <ng-container *ngIf="leftContainerIsExpanded">
          <i class="fa fa-minus"></i>
        </ng-container>
      </div>
      <div [style.color]="editing ? '#00BAFF' : ''" class="edit" (click)="toggleEditing()">
        <i class="fa fa-edit"></i>
      </div>
      <div class="export" (click)="shareCurentDeck()">
        <i class="fa fa-download"></i>
      </div>
    </div>
    <div [ngClass]="{'visible': leftContainerIsExpanded}" class="text-container transition-duration-03">
      <div class="deck-view__row">
        <h1>Description</h1>
      </div>
      <div class="deck-view__row">
        <app-label-text [label]="'Deck Title'" [text]="selectedDeck.title"></app-label-text>
      </div>
      <div class="deck-view__row">
        <app-label-text [label]="'Deck Field'" [text]="selectedDeck.field"></app-label-text>
      </div>
      <div class="deck-view__row">
        <app-label-text [label]="'Deck Subject'" [text]="selectedDeck.subject"></app-label-text>
      </div>
      <div class="deck-view__row">
        <app-label-text [label]="'Number of cards'" [text]="selectedDeck.cards.length"></app-label-text>
      </div>
    </div>
  </div>
  <div class="deck-view__right-container">
    <div class="deck-view__right-container__inner">
      <div class="deck-view__right-container__deck" *ngFor="let card of cards">
        <app-card [card]="card" [isEditing]="editing"></app-card>
      </div>
      <ng-container *ngIf="editing || !cards.length">
        <app-new-card></app-new-card>
      </ng-container>
    </div>
  </div>
</div>
