<div class="remove-deck-modal">
  <div class="remove-deck-modal__content">
    <h2 class="remove-deck-modal__title">
      Delete Deck
      <button class="remove-deck-modal__close-btn fa fa-xmark" (click)="closeModal()"></button>
    </h2>
    <div class="remove-deck-modal__hline"></div>
    <span class="remove-deck-modal__text">Are you sure to permanently remove this deck?</span>
    <div class="remove-deck-modal__button-row">
      <button class="remove-deck-modal__button remove-deck-modal__button--create" (click)="removeDeck()">Delete Deck</button>
      <button class="remove-deck-modal__button remove-deck-modal__button--create" (click)="closeModal()">Cancel</button>
    </div>
  </div>
</div>
