$grey-900: #212121;
$grey-800: #424242;
$grey-700: #616161;
$grey-500: #9E9E9E;
$grey-300: #E0E0E0;
$grey-100: #F5F5F5;

$white: #FFFFFF;
$white-o-1: #FFFFFF0A;
$white-o-2: #FFFFFF14;
$black: #000000;

$blue-dark: #1E90FF;
$blue-dark-o-1: #1E90FF0A;
$blue-dark-o-2: #1E90FF14;
$blue-light: #00BAFF;
$blue-light-o-1: #00BAFF0A;
$blue-light-o-2: #00BAFF14;
