@use 'src/colors' as color;

* {
  margin: 0;
  padding: 0;
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.warning {
  color: #e81d1d;
}

.success {
  color: #2cd22c;
}

button {
  color: color.$grey-300;
  font-size: 1.1rem;
  background: color.$blue-dark;
  border: 1px solid color.$grey-900;
  width: 90px;
  height: 45px;
  margin: .2rem;
  padding: 0.1rem;
  border-radius: 8px;

  &:hover {
    color: color.$grey-900;
    border: 1px solid color.$blue-dark;
  }
}

.transition-duration-03 {
  transition-duration: .3s;
}

body {
  overflow-y: hidden;
}

.main-container {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: color.$grey-900;
}

::-webkit-scrollbar-thumb {
  background-color: color.$blue-dark;
  border-radius: 10px;
}
