<div class="decks">

  <div class="decks__modals">
    <app-new-deck-modal *ngIf="newDeckModalIsOpen$.value"></app-new-deck-modal>
    <app-edit-deck-modal *ngIf="editDeckModalIsOpen$.value"></app-edit-deck-modal>
    <app-remove-deck-modal *ngIf="removeDeckModalIsOpen$.value"></app-remove-deck-modal>
  </div>

  <div class="decks__left-container">
    <div class="decks__left-container__buttons">
      <div class="circle" [ngClass]="{'expanded': leftContainerIsExpanded}" (click)="toggleLeftContainer()">
        <ng-container *ngIf="!leftContainerIsExpanded">
          <i class="fa fa-plus"></i>
        </ng-container>
        <ng-container *ngIf="leftContainerIsExpanded">
          <i class="fa fa-minus"></i>
        </ng-container>
      </div>
      <div class="import" (click)="importDeckInput.click()">
        <i class="fa fa-file-import"></i>
        <input #importDeckInput type="file" (change)="importDeck($event)" style="display: none">
      </div>
    </div>

    <div [ngClass]="{'visible': leftContainerIsExpanded}" class="text-container transition-duration-03">
      <div class="decks__row">
        <span class="decks__row__title">View all decks</span>
        <app-toggle-button class="decks__row__toggle" (toggleChange)="onToggleChange($event)"></app-toggle-button>
      </div>
      <div class="decks__row">
        <app-label-text [label]="'Number of your decks: '" [text]="currentUserDecks$.value.length"></app-label-text>
      </div>
      <div class="decks__row">
        <app-label-text [label]="'Number of other user\'s decks: '" [text]="getOtherUserDeckCount()"></app-label-text>
      </div>
      <div class="decks__row">
        <app-label-text [label]="'Number of all decks: '" [text]="decks.length"></app-label-text>
      </div>
    </div>
  </div>

  <div class="decks__right-container">
    <div class="decks__right-container__inner">
      <div class="decks__right-container__deck" *ngFor="let deck of decks">
        <app-deck [deck]="deck"></app-deck>
      </div>
      <app-new-deck></app-new-deck>
    </div>
  </div>
</div>
