<div class="register">
  <div class="register__title">
    <h1>Register</h1>
  </div>
  <div class="register__fields">
    <div class="register__fields__row">
      <app-label-input
        id="userNameInput"
        label="Username"
        type="text"
        [(inputValue)]="userNameValue"
        (inputValueChange)="onUserNameInputChange($event)">
      </app-label-input>
    </div>
    <div class="register__fields__row">
      <app-label-input
        id="emailInput"
        label="Email"
        type="text"
        [(inputValue)]="userEmailValue"
        (inputValueChange)="onEmailInputChange($event)">
      </app-label-input>
    </div>
    <div class="register__fields__row">
      <app-label-input
        id="passwordInput"
        label="Password"
        type="password"
        [(inputValue)]="passwordValue"
        (inputValueChange)="onPasswordInputChange($event)">
      </app-label-input>
    </div>
  </div>
  <div class="register__buttons">
    <button (click)="register()">Register</button>
    <button (click)="cancel()">Cancel</button>
  </div>
</div>
