<div class="register">
  <div class="register__title">
    <h1>Register</h1>
  </div>
  <div class="register__fields">
    <div class="register__fields__field">
      <label>Username: </label>
      <input type="text" [(ngModel)]="userNameValue">
    </div>
    <div class="register__fields__field">
      <label>Email: </label>
      <input type="text" [(ngModel)]="userEmailValue">
    </div>
    <div class="register__fields__field">
      <label>Password: </label>
      <input type="password" [(ngModel)]="passwordValue">
    </div>

  </div>
  <div class="register__buttons">
    <button (click)="register()">Register</button>
    <button>Cancel</button>
  </div>
</div>
